@import url('https://fonts.cdnfonts.com/css/mandali');

* { 
    font-family: 'Mandali', sans-serif;
    text-align: left;
}

p, h1, h2, h4, span {
    margin: 0rem 7rem;
}

.inpagetitlestuff {
    text-align: center;
}

.navbar{
    background-color:rgb(216, 0, 0);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.navbaritens {
    display: flex;
    margin: 0rem 2rem;
}

.navbarlink{
    padding-right: 1rem;
}

.navbar a {
    color: white;
}

.contentcontainer {
    margin-top: 3rem;
    text-align: center;
    
}

#containeronetitle {
    text-align: center;
}

.contentcontainer a {
    color: rgb(216, 0, 0);
}

.containertitle {
    margin: 0rem 2rem;
}

img{
    margin: 2rem 7rem;
    width: 50%;
    height: auto;
}

iframe {
    margin-left: 7rem;
    width: 50%;
    height: 50%;
}