@import url('https://fonts.cdnfonts.com/css/mandali');

* { 
    font-family: 'Mandali', sans-serif;
    text-align: left;
}

p, h1, h2, h4, span {
    margin: 0% 20%;
}

.inpagetitlestuff {
    text-align: center;
}

.navbar{
    background-color:rgb(216, 0, 0);
    display: flex;
    justify-content: center;
    padding: 16px;
}

.navbaritens {
    display: flex;
    margin: 0% 20%;
}

.navbarlink{
    padding-right: 8px;
}

.navbar a {
    color: white;
}

.contentcontainer {
    margin-top: 120px;
    text-align: center;
    
}

.contentcontainer a {
    color: rgb(216, 0, 0);
    text-decoration: none;
}

.containertitle {
    margin: 0px 20%;
}

img, iframe {
    margin: 0% 20%;
}